/* Colour Variables */
$green-color: #00bb77;
$light-green-color: #ADE9D3;
$white-color: #FFF;
$text-color: #000;
$grey: #777;
$error-color : #FF2C2C;

/* Font Varianles */
$domine: "Domine", sans-serif;
$roboto: "Roboto Condensed", sans-serif;