/* Main Footer */
.main-footer {

  .col {

    .text {
      display: inline-block;
    }

    p,
    span {
      font-size: 0.95em;
    }

    h3 {
      text-transform: uppercase;
      font-size: 1em !important;
      line-height: 1.5;
      border-bottom: 1px solid $green-color;
      margin-bottom: 0.8em;
    }
  }

  .col:nth-child(2) {
    .ux-menu-link__link {
      border-bottom: 0;
    }

    .ux-menu-link__text {
      color: $text-color;
    }
  }
}

.absolute-footer {
  display: none !important;
}
